.article1 {
    background-color: aquamarine;
    padding-left: 10px;
    margin: 40px;
    border-left: 5px solid darkcyan

}

.article2 {
    background-color: beige;
    padding-left: 10px;
    margin: 40px;
    border-left: 5px solid darkkhaki
}

.article3 {
    background-color: lightpink;
    padding-left: 10px;
    margin: 40px;
    border-left: 5px solid darkorchid

}

@media (min-width: 400px) {
   section {
    display: flex;
}
    }
    /* Bedingung an den Browser, wenn die Bedingung zutrifft, dann führt der Browser den Befehl aus - Hat der Viewport mindestens 400px, dann wird der Style angewendet */
    /* Wichtig für Responsive Design */


